flows.json
[{"id":"62e9ce5c.7d92f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8df39b51.a60198","type":"ui_form","z":"62e9ce5c.7d92f","name":"","label":"","group":"a967a9f2.601608","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"b","type":"number","required":false,"rows":null},{"label":"Adult mortality","value":"e","type":"number","required":false,"rows":null},{"label":"infant deaths","value":"f","type":"text","required":false,"rows":null},{"label":"Alcohol","value":"g","type":"text","required":false,"rows":null},{"label":"percentage expenditure","value":"h","type":"text","required":false,"rows":null},{"label":"Hepatitis B","value":"i","type":"text","required":false,"rows":null},{"label":"Measles","value":"j","type":"text","required":false,"rows":null},{"label":"BMI","value":"k","type":"text","required":false,"rows":null},{"label":"under-five deaths ","value":"l","type":"text","required":false,"rows":null},{"label":"Polio","value":"m","type":"text","required":false,"rows":null},{"label":"Total expenditure","value":"n","type":"text","required":false,"rows":null},{"label":"Diphtheria ","value":"o","type":"text","required":false,"rows":null},{"label":" HIV/AIDS","value":"p","type":"text","required":false,"rows":null},{"label":"GDP","value":"q","type":"text","required":false,"rows":null},{"label":"Population","value":"r","type":"text","required":false,"rows":null},{"label":" thinness  1-19 years","value":"s","type":"text","required":false,"rows":null},{"label":" thinness 5-9 years","value":"t","type":"text","required":false,"rows":null},{"label":"Income composition of resources","value":"u","type":"text","required":false,"rows":null},{"label":"Schooling","value":"v","type":"text","required":false,"rows":null},{"label":"country","value":"a","type":"text","required":false,"rows":null},{"label":"status","value":"c","type":"text","required":false,"rows":null}],"formValue":{"b":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":"","v":"","a":"","c":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["8bbcc3f3.06562"]]},{"id":"8bbcc3f3.06562","type":"function","z":"62e9ce5c.7d92f","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\n\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nglobal.set(\"v\",msg.payload.v);\n//following are required to receive a token\nvar apikey=\"k8CeYxQAThjcAYsPpRRVXXHxHgkBvXxrNNqVZYamuwRp\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["bd7376b6.0c84e8"]]},{"id":"c22f9988.ff54b8","type":"http request","z":"62e9ce5c.7d92f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3be6441d-4733-4ffa-8912-42b95d466d43/predictions","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["e6a11ec.c28e6e","aa467673.b139d8"]]},{"id":"51c46631.5c6cf8","type":"debug","z":"62e9ce5c.7d92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"aa467673.b139d8","type":"function","z":"62e9ce5c.7d92f","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["51c46631.5c6cf8","4027ea2a.1294e4"]]},{"id":"e6a11ec.c28e6e","type":"debug","z":"62e9ce5c.7d92f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"e9fde89b.b9bc38","type":"function","z":"62e9ce5c.7d92f","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"9e9a8fb2-9d26-4e70-85b3-a81a0cfbb362\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\n\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\nvar v = global.get(\"v\");\n\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Country', 'Year', 'Status', 'Adult Mortality',\n       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',\n       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',\n       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',\n       ' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling'],\n\"values\":[[a,b,c,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["c22f9988.ff54b8"]]},{"id":"bd7376b6.0c84e8","type":"http request","z":"62e9ce5c.7d92f","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["e9fde89b.b9bc38"]]},{"id":"4027ea2a.1294e4","type":"ui_text","z":"62e9ce5c.7d92f","group":"a967a9f2.601608","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"a967a9f2.601608","type":"ui_group","z":"","name":"Default","tab":"3bdd2268.12dd2e","order":2,"disp":true,"width":"6","collapse":false},{"id":"3bdd2268.12dd2e","type":"ui_tab","z":"","name":"try2","icon":"dashboard","disabled":false,"hidden":false}]